.Container{
    display:grid;
    width: 80%;
    margin-left: 9%;
   grid-template-columns: repeat(4,1fr);
    gap: 3%;
  

    
}

.Container>div{
border: 1px solid yellowgreen;
}
.box{
    padding-top: 100px;
}